.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
  }

  
  .grid-container > img {
    width: 150px;
    height: 150px;
    border: 3px solid rgba(0, 0, 0, 0.658);
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0;
    background: rgba(255, 255, 255, 0.541);
  }

  .scoreWrapper{
    margin: 0 auto;
    width: 100%;
  }

  .highscore{
    float: left;

  }

.score{
  float: right;

}
